.next
.vscode

dist
node_modules
package.json
pnpm-lock.yaml

eslint.config.mjs
next.config.js
next.config.ts

.prettierrc
components.json
tailwind.config.ts
postcss.config.mjs
utils.ts

/components/ui